/* ==================================================
ABOUT US IE ADJUSTMENTS
===================================================*/

p {
    font: 1.2em Helvetica, Arial, sans-serif !important;
}

.contactPad {
    padding: 5px 0 15px 15px !important;
}

.servsysBullets {
    padding: 3px 0 0 15px !important;
}