/* ==================================================
ABOUT US IE ADJUSTMENTS
===================================================*/

p {
    font: 1.2em Helvetica, Arial, sans-serif !important;
}

.servsysBullets {
    padding: 3px 0 0 15px !important;
}

.logo-img {
    margin-top: 100px;
}